html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,hr,img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}








@keyframes sliderz{

	0%{
		background-image: url('img1.jpg');
	}
	35%{
		background-image: url('img1.jpg');
	}
	35.01%{
		background-image: url('img2.jpg');
	}
	70%{
		background-image: url('img2.jpg');
	}
	70.01%{
		background-image: url('img3.jpg');
	}

	100%{
		background-image: url('img3.jpg');;
	}

}

.load{
	animation: slide 2s;
}

.slider{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%
	height: 100vh;
	animation: sliderz 30s infinite;
}

.content{
	color: #fff;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
}

.head{
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	letter-spacing: 5px;
	text-align: center;
}


.head img{
	float: left;
	margin-top: 17%;
}

/*.head p{
	font-size: 20px
}*/


.login{
	border-radius: 10%;
	text-align: left;
	max-width: 350px;
	background-color: rgb(0,0,0,0.4);
	padding: 40px;
	letter-spacing: 1px;
	margin:auto;
	color: white;
	font-size: 18px;
	float: right;
	border-left: solid white 2px;
}

.login a{
	text-decoration: none;
}

.login input[type="text"], .login input[type="password"]{
border:none;
border-bottom: 1px solid #fff;
background:transparent;
width: 100%;
padding: 10px;
margin: 10px 5px;	
color: #fff;
font-size: 16px;
}

input[type="submit"]{
	width: 49%;
	color: white;
	padding: 15px;
	margin-top: 30px;
	background-color: #5454d8;
	border:none;
	border-radius: 10%;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
	box-shadow: grey -1px 1px,grey -2px 2px,grey -3px 3px,grey -4px 4px,grey -5px 5px,grey -6px 6px,grey -7px 7px;
	transform: translate3d(6px, -6px, 0);
}

.login input[type="submit"]:hover{
	background-color: tomato;
	color: red;
}

@media screen and (max-width: 600px){
	input[type="submit"]{
		width: 100%;
	}
}

@media screen and (max-width: 600px){
	.login{
		background-color: rgb(255,255,255,0.4);
		color: black;
		font-weight: bold;
		box-sizing: border-box;
	}
}


/*+++++++++++++++++++++++++++++++++++++*/
#secondLine{
	height:  800px;
	width: 100%;
	background-color: transparent;
	margin: auto;


}

.grid1{
	background-color: silver;
	width: 26%;
	float: left;
}

.grid2{
	background-color: grey;
	width: 30%;
	float: left;
}

.grid3{
	float: right;
	background-color: darkgrey;
	width: 26%;
}

.grid1, .grid2, .grid3{
	/*float: left;*/
	padding: 5% 3% 5% 3%;
	/*text-align: center;*/
	font-size: 150%;
	height: 80%;
	overflow: auto;
	/*word-break: break-all;*/
	word-wrap: break-word;
	text-align: justify;
}

.grid1 h1, .grid2 h1, .grid3 h1{
	font-weight: bolder;
	padding-bottom: 5%;
	font-size: 140%;
}
.grid1 p, .grid2 p, .grid3 p{
	width: auto;
}
/*=====================================================*/

footer{
	padding-top: -1%; 
	text-align: center; 
	background-color: grey;
}